python-dotenv
structlog==25.5.0

langchain
langchain-community
langchain-core
langchain_fireworks
langchain-groq
# langchain-google-genai==2.1.8
# langchain-openai==0.2.10

docx2txt
ipykernel
python-multipart
faiss-cpu

fastapi
uvicorn
Jinja2

langsmith
# openai
pandas
reportlab